<!-- Main content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="borders">
        <div class="inner-adjust">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">User Profile</h1>
            </div>
            <!-- Show user data when logged in -->
            <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                    <div class="media">
                        <img *ngIf="user.email == 'petrach97@gmail.com'"
                            class="align-self-start mr-5 img-thumbnail rounded-circle"
                            src="\assets\image\fotoPersonale.jpg">

                        <img *ngIf="user.email == 'corrado.pallucchini@studenti.unicam.it'"
                            class="align-self-start mr-5 img-thumbnail rounded-circle" src="\assets\image\Cops.png">

                        <!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                        src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}"> -->
                    </div>
                    <div class="media-body">
                        <!-- <h1>Hello: <strong>{{user.displayName}}</strong></h1> -->
                        <h1 *ngIf="user.email == 'petrach97@gmail.com'">Hello: <strong>Riccardo</strong></h1>
                        <h1 *ngIf="user.email == 'corrado.pallucchini@studenti.unicam.it'">Hello: <strong>Corrado</strong></h1>
                        <p>User ID: <strong>{{user.uid}}</strong></p>
                        <p>Email: <strong>{{user.email}}</strong></p>
                        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>