<!-- <div class="borders">
    <h1 class="title">About Us</h1>
    <img class="face" src="\assets\image\Cops.png" alt="Cops">
    <h3 class="description">Corrado Pallucchini <br> BackEnder</h3>
    <img class="face" src="\assets\image\fotoPersonale.jpg" alt="Petra">
    <h3 class="description">Corrado Pallucchini <br> FrontEnder</h3>
</div> -->

<div class="borders">
    <h1 class="title">About Us</h1>
    <div class="row">
        <div class="column">
            <img class="face" src="\assets\image\Cops.png" alt="Cops">  
        </div>
        <div class="column">
            <h3>Corrado Pallucchini</h3>
            <h5>Student at University of Camerino</h5>
            <h5>Arduino Engineer</h5>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="face" src="\assets\image\fotoPersonale.jpg" alt="Petra">
        </div>
        <div class="column">
            <h3>Riccardo Petracci</h3>
            <h5>Student at University of Camerino</h5>
            <h5>Arduino Engineer</h5>
        </div>
    </div>
</div>